{% extends "base_generic.html" %}
{% block title %}
<title> Refer Patient </title>
{% endblock %}


{% block css %}
 
{% endblock %}




{% block nav %}
<a href="http://127.0.0.1:8000/"><i class="fa fa-fw fa-home"></i> Home </a>
<a href="{% url 'logout'%}"><i class="fa fa-fw fa-user"></i>Logout</a>

{% endblock %}

{% block content %}
<div class="container">
{% if error %}
<h1> {{error}} </h1>
{% endif %}

{% if msg %}
<h1> {{msg}} </h1>
{% endif %}



<form method = "POST" id="refer_form">
	{% if form %}
	<br><br>
	<h4 class="tag">Reffer Patient</h4>
	{% csrf_token %}
	
	{{ form }}
    <div id="buttons">
	<button type = "submit" class="submit" id="sub"> Submit </button>
    {% endif %}

</form>
</div>
{% endblock %}
